.row-show-img {
  width: 200px;
  height: 200px;
  position: relative;
  img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    z-index: 2;
  }

  .lds-dual-ring {
    position: absolute;
    z-index: 1;
    width: 85%;
    height: 85%;
    &:after {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      margin: 2px;
      border-radius: 50%;
      border: 10px solid #007aff;
      border-color: #007aff transparent #f65a73 transparent;
      animation: lds-dual-ring 1.2s linear infinite;
    }
  }

  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .lds-dual-ring-disabled {
    display: none;
  }
}

.wrap-user-img {
  display: flex;
  align-items: center;
  width: 40px;
  height: 40px;

  img {
    max-width: 40px;
    max-height: 40px;
    border-radius: 50%;
    width: 100% !important ;
    height: 100% !important;
    z-index: 1;
    object-fit: cover;
  }

  .lds-dual-ring {
    &:after {
      content: "";
      z-index: -1;
      display: block;
      width: 32px;
      height: 32px;
      margin: 1px;
      border-radius: 50%;
      border: 3px solid black;
      border-color: #007aff transparent #f65a73 transparent;
      animation: lds-dual-ring 1.2s linear infinite;
    }
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

.wrap-message-img {
  display: flex;
  align-items: center;
  width: 50px;
  height: 50px;

  img {
    max-width: 50px;
    max-height: 50px;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
  }

  .lds-dual-ring {
    z-index: 0;
    &:after {
      content: "";
      display: block;
      width: 42px;
      height: 42px;
      margin: 1px;
      border-radius: 50%;
      border: 3px solid #007aff;
      border-color: #007aff transparent #f65a73 transparent;
      animation: lds-dual-ring 1.2s linear infinite;
    }
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .lds-dual-ring-disabled {
    display: none;
  }
}

.imageloader {
  width: inherit;
  height: inherit;
}

.upload-img {
  img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.white-ring {
  &:after {
    border-color: rgba(255, 255, 255, 0.5) transparent rgba(255, 255, 255, 0.5)
      transparent !important;
  }
}

@media only screen and (max-width: 1280px) {
  .row-show-img {
    width: 170px;
    height: 170px;
  }
  // .wrap-item-user {
  //   .item {
      .wrap-user-img {
        width: 30px;
        height: 30px;
        .user-img {
          max-width: 30px;
          max-height: 30px;
        }
        .lds-dual-ring {
          &:after {
            width: 22px;
            height: 22px;
          }
        }
      }
  //   }
  // }
  .wrap-item-message {
    .item {
      .wrap-user-img {
        width: 40px;
        height: 40px;
        .user-img {
          max-width: 40px;
          max-height: 40px;
        }
        .lds-dual-ring {
          &:after {
            width: 32px;
            height: 32px;
          }
        }
      }
    }
  }
}

@media only screen and (max-height: 515px) {
  .row-show-img {
    max-height: 100px;
    max-width: 100px;
    .lds-dual-ring {
      width: 75%;
      height: 75%;
    }
  }
}
